body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{

    font-size: 50px;
    color: rgb(95, 94, 94);
}
h2{
    color:rgb(95, 94, 94);
    font-size: 30px;
}
.flex{
    display: flex;
    padding-top: 70px;
}
.half-width{
    width: 50%;
    margin-left: 120px;
    margin-right: 20px;
}
.half-width img{
    width:90%;
}
.kom-width{
    width: 40%;
    padding-left: 10%;
    padding-right: 10%;

}
.kom-width img{
    width: 63%;
}
.recipie-title{
    width: 35%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    padding-left: 35px;
    padding-top: 30px;
    margin: 0 auto;
}
.recipie-title img{
    width: 92%;
}

#section-one{
    padding-top: 100px;
}
span{
    color: rgb(71, 71, 197);
}
.gray-color{
    color: gray;
}
.margin{
    margin-bottom: 70px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,skyblue);
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
}
#about-me{
    background-image: url(images/shapes/Frame_57-removebg-preview.png);
    background-repeat: no-repeat;
    background-color: rgb(234, 229, 250);
    background-position: center;
    margin-top: 80px;
    height: 450px;
    background-size: cover;
    position: relative;

}
.text-align{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.like-center{
    width: 20%;
    margin-left: 13%;

}
.box-like{
    box-shadow: 10px 10px 15px gray;
    height: 200px;
    width: 65%;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 30px;
    margin-bottom: 40px;

}
#black{
    background-color: black;
    height:210px;
    width: 100%;
    padding-top: 50px;
    margin:0;
}
#white{
    color: rgb(161, 159, 159)}